<button class="trv-button trv-button--primary" (click)="toggleDialog()">
  Add
</button>

<div class="trv-modal" *ngIf="showDialog">
  <form class="trv-modal__content" #addTravelForm="ngForm">
    <button
      class="trv-button trv-button--ghost trv-button--close"
      (click)="toggleDialog()"
    >
      Close dialog
    </button>
    <label for="City">City</label>
    <input
      name="City"
      class="trv-travel_input trv-travel_input--required trv-travel_input--destination"
      placeholder="Where do you want to go?"
      autofocus=""
      [(ngModel)]="newTravel.city"
      required
      #cityName="ngModel"
    />
    <div
      class="trv-error"
      *ngIf="!cityName.valid && cityName.touched"
    >
      The field "City" is required!
    </div>

    <label for="Description">Description</label>
    <input
      name="description"
      class="trv-travel_input trv-travel_input--description"
      placeholder="Why do you want to go there?"
      autofocus=""
      [(ngModel)]="newTravel.description"
    />
    <label for="Date"></label>
    <input
      name="Date"
      class="trv-travel_input trv-travel_input--date"
      placeholder="When do you want to go there?"
      autofocus=""
      [(ngModel)]="newTravel.date"
    />
    <button
      class="trv-travel_button trv-travel_button--secondary"
      (click)="this.addTravelForm.reset()"
    >
      Clear
    </button>
    <button
    type="button"
      class="ntrv-travel_button ntrv-travel_button--primary"
      (click)="addTravel(addTravelForm)"
    >
      Save
    </button>
  </form>
</div>
