@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Walter+Turncoat&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
$primary:#4259ec;
$on-primary:#ffffff;
$accent:#EC9735;
$on-accent:#383838;
$text: #2D374E;
